.editor-component {
  padding: 100px 200px;
  li {
    list-style-type: none;
    .delete-page {
      margin-left: 20px;
      font-size: 22px;
      color: tomato;
      cursor: pointer;
    }
  }
}
